<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./tests/bootstrap.php"
        colors="true"
        stopOnFailure="true"
        beStrictAboutChangesToGlobalState="true"
        cacheDirectory=".phpunit.cache"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="tests">
<!--            <file>tests/ShowMacAddress/TestShowMacAddressStatic.php</file>-->
<!--            <file>tests/ShowInterface/InterfaceTest.php</file>-->
<!--            <file>tests/ShowPoe/PoeTest.php</file>-->
            <file>tests/ApiTest.php</file>
<!--            <file>tests/SNMPTest.php</file>-->
        </testsuite>
    </testsuites>
</phpunit>